<!DOCTYPE html>
<html>
<head>
  <title>Minecube Heartbeat Server</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

    <p style="margin-top: 2.5em; font-size: small; color: gray;">
      &copy; daniel lamando | <a href="http://github.com/minecube/heartbeat-server">source code</a> | <a href="http://github.com/minecube/minecube">get the game</a>
    </p>
</body>
</html>
