<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <title>Minecube Heartbeat Server</title>
    <%= stylesheet_link_tag 'application' %>
  </head>

  <body>
<%= yield %>

    <p style="margin-top: 2.5em; font-size: small; color: gray;">
      &copy; daniel lamando | <a href="http://github.com/minecube/heartbeat-server">source code</a> | <a href="http://github.com/minecube/minecube">get the game</a>
    </p>
  </body>
</html>
